body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loginSignup {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}
.Container {
  max-width: 950px;
  margin: 0 auto;
  margin-top: 50px;
}
.Container input {
  width: 50%;
}
.Container h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.wrapper > button {
  grid-column: 12;
}
.wrapper > h1 {
  grid-column: 1 / span 3;
}
.wrapper > input {
  grid-column: 5 / span 6;
}
